PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sky_survey_db
UPLOAD_DIR=uploads
CLOUDINARY_CLOUD_NAME=dl9vtwegv
CLOUDINARY_API_KEY=234928566534122
CLOUDINARY_API_SECRET=X_8yvRLCJ_pBR0zEbl5djkK5HFw